{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
	<section class="grid-container">
		<nav class="grid-margin-x main-nav" >
			{% block header %}
			<div class="auto cell">
				{% if site.logo.src %}
					<a class="logo" href={{ site.url }} rel="home">
						<img src="{{ site.logo.src }}" alt="{{ site.name }}">
					</a>
				{% else %}
					<a href={{ site.url }} rel="home">{{ site.name }}</a>
				{% endif %}
			</div>
			<div class="auto cell align-right">
				{% include "menu.twig" with {'menu': header_menu.get_items} %}
			</div>
			{% endblock %}
		</nav>
	</section>

	<section class="grid-container">
		<header class="grid-margin-x padded huge text-center">
			<h1>Alec Breed, off brand <span class="underline">Austin Breed</span>.</h1>
			<p class="sub-heading">They're both designers, but he's got a bigger beard and is less DC-based.</p>
		</header>
	</section>

	<div class="page-container">
		<section class="grid-container">
			<div class="grid-x grid-padded-x small-up-1 medium-up-2 portfolio-grid">
				<div class="cell portfolio-item"><img class="cover" src="{{ theme.link }}/lib/images/placeholder.png"></div>
				<div class="cell portfolio-item"><img class="cover" src="{{ theme.link }}/lib/images/placeholder-odd.png"></div>
				<div class="cell portfolio-item"><img class="cover" src="{{ theme.link }}/lib/images/placeholder.png"></div>
				<div class="cell portfolio-item"><img class="cover" src="{{ theme.link }}/lib/images/placeholder-odd.png"></div>
				<div class="cell portfolio-item"><img class="cover" src="{{ theme.link }}/lib/images/placeholder.png"></div>
				<div class="cell portfolio-item"><img class="cover" src="{{ theme.link }}/lib/images/placeholder-odd.png"></div>
			</div>
		</section>
	</div>

	{# <section class="grid-container fluid">
		<div id="content" role="main" class="grid-x">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</div>
	</section>

	<div class="grid-container fluid">
		{% block footer %}
			<footer id="footer" class="grid-x">
				{% include 'footer.twig' %}
			</footer>
			
		{% endblock %}
	</div> #}

	{{ function('wp_footer') }}
</body>
</html>
