{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
	<section class="grid-container">
		<header class="grid-x header" >
			{% block header %}
			<div class="auto cell">
				<a class="logo" href={{site.url}} rel="home">
					{{site.name}}
				</a>
			</div>
			<div class="auto cell align-right">
				{% include "menu.twig" with {'menu': menu.get_items} %}
			</div>
			{% endblock %}
		</header>
	</section>

	<div class="grid-container">
		<section id="content" role="main" class="grid-x">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>
	</div>

	<div class="grid-container">
		{% block footer %}
			<footer id="footer" class="grid-x">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</div>
</body>
</html>
