{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
	<section class="grid-container">
		<nav class="grid-margin-x main-nav" >
			{% block header %}
			<div class="auto cell">
				{% if site.logo.src %}
					<a class="logo" href={{ site.url }} rel="home">
						<img src="{{ site.logo.src }}" alt="{{ site.name }}">
					</a>
				{% else %}
					<a href={{ site.url }} rel="home">{{ site.name }}</a>
				{% endif %}
			</div>
			<div class="auto cell align-right">
				{% include "menu.twig" with {'menu': header_menu.get_items} %}
			</div>
			{% endblock %}
		</nav>
	</section>

	{% block before_content %}
		<div class="grid-container">
	{% endblock %}
	{% block content %}
		Sorry, no content.
	{% endblock %}
	{% block after_content %}
		</div>
	{% endblock %}

	<div class="page-container">
		<section class="grid-container">
			{% block footer %}
				<footer class="grid-margin-x">
					{% include 'footer.twig' %}
				</footer>
			{% endblock %}
		</section>
	</div>

	{{ function('wp_footer') }}
</body>
</html>
